.scannerwork/*
target/*
.mvn/*
bin/*
.classpath
.factorypath
.project
.settings/*
RulesEngine/target/*
RulesEngine/.mvn/*
RulesEngine/bin/*
RulesEngine/.classpath
RulesEngine/.factorypath
RulesEngine/.project
RulesEngine/.settings/*
RulesPersistenceEngine/target/*
RulesPersistenceEngine/.mvn/*
RulesPersistenceEngine/bin/*
RulesPersistenceEngine/.classpath
RulesPersistenceEngine/.factorypath
RulesPersistenceEngine/.project
RulesPersistenceEngine/.settings/*
RulesCommonLibrary/target/*
RulesCommonLibrary/.mvn/*
RulesCommonLibrary/bin/*
RulesCommonLibrary/.classpath
RulesCommonLibrary/.factorypath
RulesCommonLibrary/.project
RulesCommonLibrary/.settings/*
RulesEngineClassSupplier/target/*
RulesEngineClassSupplier/.mvn/*
RulesEngineClassSupplier/bin/*
RulesEngineClassSupplier/.classpath
RulesEngineClassSupplier/.factorypath
RulesEngineClassSupplier/.project
RulesEngineClassSupplier/.settings/*
RulesEngineBatch/target/*
RulesEngineBatch/.mvn/*
RulesEngineBatch/bin/*
RulesEngineBatch/.classpath
RulesEngineBatch/.factorypath
RulesEngineBatch/.project
RulesEngineBatch/.settings/*
*.log
*.jar